In [30]:
from pymongo import MongoClient
import os
import pymongo
import pandas as pd
import requests

# Create a client
# client = MongoClient('mongodb://localhost:27017/')
# Read the connection string from the config.env file
with open('../server/config.env', 'r') as file:
    connection_string = file.read().strip()

connection_string = connection_string.replace('ATLAS_URI=', '')
# print(connection_string)

# Create a client
client = pymongo.MongoClient(connection_string)

In [31]:
import pandas as pd

# Connect to your database
db = client['sample_analytics']

# Get your collection
collection = db['transactions']

# Retrieve all documents
documents = collection.find()

# Convert documents into a DataFrame
df = pd.DataFrame(list(documents))

# Explode the transactions column
df = df.explode('transactions')

# Convert the dictionaries in the transactions column into separate columns
df_transactions = df['transactions'].apply(pd.Series)

# Concatenate the original DataFrame with the new transactions DataFrame
df = pd.concat([df.drop(['transactions'], axis=1), df_transactions], axis=1)

df.head(20)

,_id,account_id,transaction_count,bucket_start_date,bucket_end_date,date,amount,transaction_code,symbol,price,total
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2003-09-09,7514,buy,adbe,19.1072802650074180519368383102118968963623046875,143572.1039112657392422534031
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2016-06-14,9240,buy,team,24.1525632387771480580340721644461154937744140625,223169.6843263008480562348268
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2002-12-04,2824,buy,msft,21.0461939532454316292842122493311762809753417...,59434.45172396509892109861539
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2014-07-14,7418,sell,sap,76.38514540536692720706923864781856536865234375,566625.0086170118660220396123
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2011-10-28,5638,buy,adbe,28.3656576086411753578886418836191296577453613...,159925.5775975189466677761629
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2010-12-20,6774,sell,sap,45.3237971108758159743956639431416988372802734375,307023.4016290727774105562276
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2015-10-28,7251,sell,nflx,102.936674838205050264150486327707767486572265625,746393.8292518248194653551764
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2012-02-02,8828,buy,nflx,17.8388623136302832961064268602058291435241699...,157481.4765047281409380275363
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2016-03-14,5585,sell,team,22.645934804740733170547173358500003814697265625,126477.5458844769947575059632
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2012-03-01,5789,buy,nflx,16.0804676963220600782733527012169361114501953125,93089.82749400840579312443879
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2001-01-04,7856,buy,adbe,26.7109840867869863245687156450003385543823242...,209841.4909857985645658118301
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2015-12-14,8539,buy,nflx,120.200206730275638733473897445946931838989257...,1026389.565269823679145133610
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2016-10-05,4967,buy,sap,90.35066753097771652392111718654632568359375,448771.7656263663179743161891
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2016-09-26,2893,buy,team,30.2270755851869701302803150610998272895812988...,87446.92966794590458690095147
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,1992-07-17,9559,sell,ibm,19.8398684399249773946394270751625299453735351...,189649.3024172428589153582834
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,1978-02-16,8269,buy,ibm,13.2722697458426655003904670593328773975372314...,109748.3985283730010227287721
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2016-06-01,8081,sell,ibm,143.758609271150135100469924509525299072265625,1161713.321520164241746897460
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,1986-10-23,6145,sell,adbe,0.2800000011920928955078125,1720.600007325410842895507812
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2010-10-22,6973,buy,msft,21.2684234472767563772777066333219408988952636...,148304.7166978608222187574484
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,2016-07-28,3082,sell,sap,86.029571359374330086211557500064373016357421875,265143.1389295916853257040202

In [26]:
df.head(20)

,_id,account_id,transaction_count,bucket_start_date,bucket_end_date,0
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,date
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,amount
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,transaction_code
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,symbol
0,5ca4bbc1a2dd94ee58161cb1,443178,66,1969-02-04,2017-01-03,price

In [ ]:
# Connect to your database
db = client['sample_analytics']

# Get your collection
collection = db['transactions']

# Retrieve all documents
documents = collection.find()

# Print the top 10 documents
for document in documents[:10]:
    print(document)

In [ ]:
# Specify the path to your file
file_path = "C:\\Github\\FYP\\Data\\stocks\\aapl.us.txt"

# Read the CSV file
df = pd.read_csv(file_path)

# Print the first 10 rows of the DataFrame
print(df.head(10))

In [ ]:
import os
import pandas as pd

# Specify the path to your directory
dir_path = "C:/Github/FYP/Data/stocks"

# Get a list of all files in the directory
files = os.listdir(dir_path)

# Initialize a counter
counter = 0

# Loop over all files
for file in files:
    # Break the loop after 3 iterations
    if counter == 3:
        break

    # Construct the full file path
    file_path = os.path.join(dir_path, file)
    
    # Read the file
    df = pd.read_csv(file_path)
    
    # Extract the ticker from the file name (remove .txt)
    ticker = os.path.splitext(file)[0]
    
    # Remove .us from the ticker name
    ticker = ticker.replace('.us', '')
    
    # Add a 'Ticker' column to the DataFrame
    df['Ticker'] = ticker
    
    # Print the DataFrame
    print(df)

    # Increment the counter
    counter += 1

In [ ]:
# Convert the data to a dataframe
import pandas as pd

# Convert the data to a dataframe
df = pd.DataFrame.from_dict(data)
# print(df)

df.info()
df.describe()

# Convert the date column to datetime

In [ ]:
# Remove metadata and last_updated columns
df = df.drop(['metadata', 'last_updated'], axis=1)
df

In [ ]:
# Within the top_gainers column, there is a JSON formatted string that needs to be converted to a dataframe
df_top_gainers = pd.DataFrame.from_records(df['top_gainers'])
df_top_gainers